<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1182003191920972</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ua.com.omniesoft.OmnieCommerceAdmin</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.272068998103-o0pio7arbpcm4oruphira844pmvu05a5</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>vk5878120</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vk5878120</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>FacebookAppID</key>
	<string>1182003191920972</string>
	<key>FacebookDisplayName</key>
	<string>OmnieCommerceAdmin</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Would Like to Access the Camera</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location Privacy Message</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Would Like to Access Your Photos</string>
	<key>UIAppFonts</key>
	<array>
		<string>helveticaneuecyr-black.otf</string>
		<string>helveticaneuecyr-blackitalic.otf</string>
		<string>helveticaneuecyr-bold.otf</string>
		<string>helveticaneuecyr-bolditalic.otf</string>
		<string>helveticaneuecyr-heavy.otf</string>
		<string>helveticaneuecyr-heavyitalic.otf</string>
		<string>helveticaneuecyr-italic.otf</string>
		<string>helveticaneuecyr-light.otf</string>
		<string>helveticaneuecyr-lightitalic.otf</string>
		<string>helveticaneuecyr-medium.otf</string>
		<string>helveticaneuecyr-mediumitaicl.otf</string>
		<string>helveticaneuecyr-roman.otf</string>
		<string>helveticaneuecyr-thin.otf</string>
		<string>helveticaneuecyr-thinitalic.otf</string>
		<string>helveticaneuecyr-ultralight.otf</string>
		<string>helveticaneuecyr-ultralightitalic.otf</string>
		<string>UBUNTU-B.TTF</string>
		<string>UBUNTU-BI.TTF</string>
		<string>UBUNTU-C.TTF</string>
		<string>UBUNTU-I.TTF</string>
		<string>UBUNTU-L.TTF</string>
		<string>UBUNTU-LI.TTF</string>
		<string>UBUNTU-M.TTF</string>
		<string>UBUNTU-MI.TTF</string>
		<string>UBUNTU-R.TTF</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Main</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
