<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MKDirectionsRequest</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.maps.directionsrequest</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array>
		<string>MKDirectionsModeOther</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>helveticaneuecyr-black.otf</string>
		<string>helveticaneuecyr-blackitalic.otf</string>
		<string>helveticaneuecyr-bold.otf</string>
		<string>helveticaneuecyr-bolditalic.otf</string>
		<string>helveticaneuecyr-heavy.otf</string>
		<string>helveticaneuecyr-heavyitalic.otf</string>
		<string>helveticaneuecyr-italic.otf</string>
		<string>helveticaneuecyr-light.otf</string>
		<string>helveticaneuecyr-lightitalic.otf</string>
		<string>helveticaneuecyr-medium.otf</string>
		<string>helveticaneuecyr-mediumitaicl.otf</string>
		<string>helveticaneuecyr-roman.otf</string>
		<string>helveticaneuecyr-thin.otf</string>
		<string>helveticaneuecyr-thinitalic.otf</string>
		<string>helveticaneuecyr-ultralight.otf</string>
		<string>helveticaneuecyr-ultralightitalic.otf</string>
		<string>UBUNTU-B.TTF</string>
		<string>UBUNTU-BI.TTF</string>
		<string>UBUNTU-C.TTF</string>
		<string>UBUNTU-I.TTF</string>
		<string>UBUNTU-L.TTF</string>
		<string>UBUNTU-LI.TTF</string>
		<string>UBUNTU-M.TTF</string>
		<string>UBUNTU-MI.TTF</string>
		<string>UBUNTU-R.TTF</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Main</string>
	<key>UIMainStoryboardFile</key>
	<string>OrganizationsListShow</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
